<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/styles.css"> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OCR site</title>
</head>

<body>
  <section class="main">
    <h1>Image to PDF</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar">
      <button type="submit">Convert</button>
    </form>
  </section>
</body>

</html>