* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E9E4E3;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  padding: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.main h1 {
  margin-bottom: 1rem;
}

.display {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}

.output {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 40vh;
  /* background: white; */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
  border-radius: 10px;
  z-index: 5;
  backdrop-filter: blur(2rem);
}